
@font-face{
    font-family: 'Trueno';
    src: url(../fonts/truenolt.otf);
}

@font-face{
    font-family: 'Trueno bold';
    src: url(../fonts/truenobd.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main{
    background: url(../img/hero.jpg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(0px, 12vh) minmax(0px, 67.3vh) minmax(0px, 20vh);
    flex-direction: column;
}

.main-header{
    display: flex;
    grid-template-columns: minmax(0px, 20%) 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.main-header .itemsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.main-header .itemsContainer .logo{
    justify-self: center;
    align-self: center;
    height: 65%;
    position: relative;
    right: 25%;
}

.main-header .itemsContainer p{
    font-size: 1.15vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 2%;
    position: relative;
    right: 5.75%;
}



.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


main .content .textContainer{
    margin-bottom: 3.5vw;
    position: relative;
}

main .content .subtitle{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 20px;
    font-size: 1.85vw;
    color: white;
    position: relative;
    top: 2vw;
}

main .content .title{
    font-family: 'Trueno bold', sans-serif;
    text-align: center;
    letter-spacing: 10px;
    font-size: 13vw;
    color: white;
}


.main-footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0px, 20%) minmax(0px, 60%) minmax(0px, 20%);
    grid-template-columns: minmax(0px, 20%) minmax(0px, 60%) minmax(0px, 20%);
}

.main-footer .itemcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}

.main-footer .itemcontainer .item{
    width: 30%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    border-radius: 7.5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    animation: scaledown 0.2s linear;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;

}

.main-footer .itemcontainer .item:hover{
    z-index: 100;
    animation: scale 0.2s linear;
    animation-fill-mode: forwards;
}

.main-footer .itemcontainer .item svg{
    height: 45%;
    margin-left: 7.5%;
}

.main-footer .itemcontainer .item .grid{
    display: grid;
    margin-left: 5%;
    width: 75%;
    grid-template-rows: repeat(minmax(0px, 50%));
}

.main-footer .itemcontainer .item .title{
    font-size: 1.3vw;
    font-weight: 300;
}

.main-footer .itemcontainer .item .desc{
    font-size: 1vw;
    color: rgb(151, 151, 151);
    margin-bottom: 5%;
}

.main-footer .vertical-text{
    writing-mode:tb-rl;
    font-family: 'Raleway', sans-serif;
    grid-row: span 3;
    text-decoration: none;
    color: white;
    font-size: 0.65vw;
    text-align: start;
    justify-self: start;
    letter-spacing: 2.5px;
    margin-left: 10%;
}

.main-footer .vertical-text img{
    height: 35%;
}

@keyframes scaledown{
    0%{
        transform: scale(1.035);
    }
    100%{
        transform: scale(1.0);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.035);
    }
}

html::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
html::-webkit-scrollbar-thumb {
    background: #FF0000;
}


#scrollPath{
    height: 100%;
}

#progressbar{
    width: 0.4vw;
    height: 0%;
    background: white;
    border-radius: 20px;
}

#progressbackground{
    position: fixed;
    top: 35%;
    right: 2.5%;
    width: 0.4vw;
    height: 25%;
    background: rgba(255, 255, 255, 0.2);
}

.activities{
    height: 50vh;
    width: 100vw;
}