
@font-face{
    font-family: 'Trueno';
    src: url(../fonts/truenolt.otf);
}

@font-face{
    font-family: 'Trueno bold';
    src: url(../fonts/truenobd.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main{
    background: url(../img/hero.jpg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(0px, 12vh) minmax(0px, 67.3vh) minmax(0px, 20vh);
    flex-direction: column;
}

.main-header{
    display: flex;
    grid-template-columns: minmax(0px, 20%) 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.main-header .itemsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.main-header .itemsContainer .logo{
    justify-self: center;
    align-self: center;
    height: 65%;
    position: relative;
    right: 25%;
}

.main-header .itemsContainer p{
    font-size: 1.15vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 2%;
    position: relative;
    right: 5.75%;
}



.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


main .content .textContainer{
    margin-bottom: 3.5vw;
    position: relative;
}

main .content .subtitle{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 20px;
    font-size: 1.85vw;
    color: white;
    position: relative;
    top: 2vw;
}

main .content .title{
    font-family: 'Trueno bold', sans-serif;
    text-align: center;
    letter-spacing: 10px;
    font-size: 13vw;
    color: white;
}


.main-footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0px, 20%) minmax(0px, 60%) minmax(0px, 20%);
    grid-template-columns: minmax(0px, 20%) minmax(0px, 60%) minmax(0px, 20%);
}

.main-footer .itemcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}

.main-footer .itemcontainer .item{
    width: 30%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    border-radius: 7.5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    animation: scaledown 0.2s linear;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;

}

.main-footer .itemcontainer .item:hover{
    z-index: 100;
    animation: scale 0.2s linear;
    animation-fill-mode: forwards;
}

.main-footer .itemcontainer .item svg{
    height: 45%;
    margin-left: 7.5%;
}

.main-footer .itemcontainer .item .grid{
    display: grid;
    margin-left: 5%;
    width: 75%;
    grid-template-rows: repeat(minmax(0px, 50%));
}

.main-footer .itemcontainer .item .title{
    font-size: 1.3vw;
    font-weight: 300;
}

.main-footer .itemcontainer .item .desc{
    font-size: 1vw;
    color: rgb(151, 151, 151);
    margin-bottom: 5%;
}

.main-footer .vertical-text{
    writing-mode:tb-rl;
    font-family: 'Raleway', sans-serif;
    grid-row: span 3;
    text-decoration: none;
    color: white;
    font-size: 0.65vw;
    text-align: start;
    justify-self: start;
    letter-spacing: 2.5px;
    margin-left: 10%;
}

.main-footer .vertical-text img{
    height: 35%;
}

@keyframes scaledown{
    0%{
        transform: scale(1.035);
    }
    100%{
        transform: scale(1.0);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.035);
    }
}

html::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
html::-webkit-scrollbar-thumb {
    background: #FF0000;
}


#scrollPath{
    height: 100%;
}

#progressbar{
    z-index: 999;
    width: 0.4vw;
    height: 0%;
    background: white;
    border-radius: 20px;
}

#progressbackground{
    z-index: 998;
    position: fixed;
    top: 35%;
    right: 2.5%;
    width: 0.4vw;
    height: 25%;
    background: rgba(255, 255, 255, 0.2);
}

.activeScroll{
    background: black;
}

.activities{
    width: 100vw;
    height: 90vh;
    margin-top: 5%;
    text-align: center;
}

.activities .subtitle{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    font-size: 1.25vw;
    margin-bottom: 1.25%;
}

.activities .title{
    font-family: 'Trueno bold', sans-serif;
    font-size: 2.35vw;
    letter-spacing: 2px;
}

.activities .activities-gridContainer{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 85%;
    grid-template-rows: minmax(0px, 80%);
    grid-template-columns: repeat(4, minmax(0px, 17%));
    margin-top: 5%;
    column-gap: 1%;
}

.activities .gridItem{
    border-radius: 10px;
    box-shadow: 20px 20px 35px rgba(11, 8, 8, 0.3);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}

.activities .degree{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.1));
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.activities .gridItem .gridItem-title{
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 1px;
    position: relative;
    bottom: 10%;
    left: 6.5%;
    font-size: 1.85vw;
}

.activities .gridItem .gridItem-desc{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.2vw;
    position: absolute;
    bottom: 3.5%;
    left: 6.5%;
}

.hiking{
    background: url(../img/activity1.jpg) no-repeat center/cover;
}

.sailing{
    background: url(../img/activity2.jpg) no-repeat center/cover;
}

.skiing{
    background: url(../img/activity3.jpg) no-repeat center/cover;
}

.kayaking{
    background: url(../img/activity4.jpg) no-repeat center/cover;
}

.aboutus{
    width: 100vw;
    height: 90vh;
    margin-top: 4vw;
    text-align: center;
}

.aboutus .subtitle{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    font-size: 1.25vw;
    margin-bottom: 1.25vw;
}

.aboutus .title{
    font-family: 'Trueno bold', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 2px;
}

.aboutus .gridContainer{
    display: grid;
    margin-top: 2vw;
    width: 100%;
    height: 90%;
    grid-template-rows: repeat(3, minmax(0px, 33%));
    grid-template-columns: minmax(0px, 65%) minmax(0px, 35%);
    column-gap: 5vw;
}

.aboutus .grid-img{
    grid-row: span 3;
    grid-column: span 1;
    justify-self: center;
    align-self: center;
    width: 90%;
}

.aboutus .textItem{
    position: relative;
    padding: 2vw;
}

.aboutus .textItem .title{
    text-align: start;
    font-size: 2.3vw;
    margin-bottom: 1.35vw;
}

.aboutus .textItem .desc{
    text-align: start;
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    color: #212121
}

.apartaments{
    width: 100vw;
    height: 90vh;
    margin-top: 7.5%;
    text-align: center;
}

.apartaments .subtitle{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    font-size: 1.25vw;
    margin-bottom: 1.25%;
}

.apartaments .title{
    font-family: 'Trueno bold', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 2px;
}

.apartaments .flexcontainer{
    display: flex;
    height: 50%;
    width: 90%;
    margin: 2.5% 5%;
}

.apartaments .flexcontainer .item{
    width: 33%;
    position: relative;
}

.apartaments .flexcontainer .item .apartament-img{
    height: 60%;
    width: 95%;
    border-radius: 3.5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img1{
    background-image: url(../img/apartament2.jpg);
}

#img2{
    background-image: url(../img/apartament3.jpg);
    background-position:bottom
}

#img3{
    background-image: url(../img/apartament1.jpg);
}


.apartaments .flexcontainer .item .apartament-desc{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 3.5%;
    margin-left: 5%;
}

.apartaments .flexcontainer .item .apartamentdesc-title{
    font-family: 'Trueno bold', sans-serif;
    font-size: 1.8vw;

}

.apartaments .flexcontainer .item .apartament-desc img{
    width: 32%;
    margin-top: 0.5%;
    margin-left: 5%;

}

.apartaments .flexcontainer .item .apartamentdesc-desc{
    position: absolute;
    left: 5%;
    top: 78%;
    font-family: 'Trueno', sans-serif;
    font-size: 1.8vw;
}

.apartaments .moreoptions{
    height: 50%;
    display: flex;
    margin: 2.5% 5%;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.apartaments .moreoptions .options-title{
    font-family: 'Trueno bold', sans-serif;
    align-self: flex-start;
    font-size: 2.1vw;
    margin-left: 1vw;
}

.apartaments .moreoptions .options-subtitle{
    font-family: 'Trueno', sans-serif;
    align-self: flex-start;
    font-size: 1.65vw;
    margin-left: 1vw;
}

.apartaments .moreoptions div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5vw;
}

.apartaments .moreoptions .options-form{
    width: 70%;
    height: 75%;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.25);
}

.apartaments .moreoptions .options-form .search-title{
    width: 100%;
    height: 80%;
    padding-bottom: 1.5%;
    padding-right: 87.5%;
    font-size: 3.5vw;
    color: rgba(0, 0, 0, 0.5);
}

.apartaments .moreoptions .options-button{
    margin-left: 5%;
    width: 17.5%;
    height: 100%;
    background: #1b1b1b;
    display: flex;
    justify-content: center;
}

.apartaments .moreoptions .options-s-button{
    font-family: 'Raleway', sans-serif;
    font-size: 2.3vw;
    letter-spacing: 5px;
    padding-bottom: 0.3vw;
    color: white;
}
